<h1>Shorten Links</h1>

<%= form_for :url, url: urls_path do |f| %>
  <p>
    <h3>Link To Shorten</h3>
    <%= f.text_field :full_url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
    <% if params['short_url'] %>
  <h3>Shortened Link</h3>
    <%=params['short_url'] %>
  <h3>Link Provided</h3>
    <%=params['full_url'] %>
    <% end %>
  </p>
<% end %>